/* #style sheet*/
* {
    font-family:'Courier New', Courier, monospace ;
    border: 1px solid black;
}
.function{
    align-items: end;
}
.results, .results div {
    display: flex;
    flex-direction: column;
}
.results div {
    height: 50px;
}
.result{
    font-size: 53px;
}
.buttons, .buttons div, .footer{
display: flex;
flex-direction: row;
}
.footer div{
    width: auto;
    flex: auto;
   text-align: center;
}
.buttons div{
    height: 18px;
    flex: auto;
}
