/* #style sheet*/
* {
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: lighter;
    font-size: 10px;
}
.divContainer{
    width: 70%;
}
.functions div, .buttons div, .results div, .functions div, .footer div {
    border: .2px solid black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.function{
    align-items: end;
}
.functions div {
    height: 41px;
    flex: auto;
}
.results, .results div {
    display: flex;
    flex-direction: column;
}
.results div {
    height: 45px;
}
.result{
    font-size: 26px;
}
.buttons, .buttons div, .functions, .functions div, .footer, .footer div{
display: flex;
flex-direction: row;
}
.footer div{
    height: 42px;
    flex: auto;
   text-align: center;
}
.buttons div{
    height: 28px;
    flex: auto;
}
.functions, .buttons , .footer{
    background-color:#e3e6ea;;
}
