/* #style sheet*/
* {
    border: 1px solid black;
}
.results :nth-child(1){

}
.results, .results div {
    display: flex;
    flex-direction: column;
}
.results div {
    height: 48px;
}
.buttons, .buttons div{
display: flex;
flex-direction: row;
}
.buttons div{
    height: 19px;
    flex: auto;
}
