/* style */
html{
    font-family: monospace;
    text-align: center;
}
*{
    padding: 0;
    margin: 0;
}
div{
    display: flex;
}
.main-container{
align-items: center;
}
.main-container,
.view-container,
.container,
.operators,
.others,
.view-container{
    flex-direction: column;
}
.container{
    height: 631px;
    width: 777px;
    justify-content: center;
}
.view-container >*{
    height: 75px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
}
.numbers{
        height: 61svh;
        flex-direction: row;
        flex-wrap: wrap;
        width: 155svh;
    }
.numbers>*{
flex: 1 1 23svh;
}
.operators{
    height: 61svh;
    flex-wrap: wrap;
    width: 476px;
    align-content: center;
}
.operators>*{
    height: 98.2px;
    width: 103px;
}
.equal-clear{
    flex-direction: row;
    flex-wrap: wrap;
    width: 93px;
}
.equal-clear div{
    flex: auto;
    height: 131px;
    width: 93px;
}
.operations,
.result,
.numbers div,
.operators div,
.equal-clear div{
    border: 1px solid black;
}