html{
  font-family: Arial, Helvetica, sans-serif;
}
*{
  margin: 0;
  border: 0;
  font-size: 8px;  
}
.divSize:hover{
border-color:  rgb(236, 248, 12);
}
.divSize{
  height: 16px;
  width: 16px;
  border: 2px solid rgb(251, 6, 35);
}
.divContainer{
  justify-content: center;
  width: auto;
} 
.divContainer{
  justify-content: center;
}
.content{
flex-direction: column;
font-family:monospace;
font-size: xx-large;
line-height: 8svh;
width: 60cqw;
background-color: white;
}
h1{
  text-align: center;
  line-height: 14svh;
  border-bottom: 2px dashed black;
  background-color: white;
}
div {
    display: flex;
  }
  .buttonParentDiv{
    flex: auto;
  }
  input[type=color]{
    height: 5svh;
   width: revert;
  }
  .button{
    height: 56px;
    width: 100%;
    color: white;
    background-color: rgb(88, 189, 244);
    align-items: center;
    justify-content: space-around;
  }
  .button:hover{
    color: rgb(79, 76, 76);
    background-color: rgb(220, 204, 236) ;
  }
  h1:hover,
  li:hover{
    color: rgb(234, 207, 4);
  }


